In [2]:
import pandas as pd 

us_cities = pd.read_excel('/Users/rishabkhuba/Documents/Medicare_Pipeline/uscities.xlsx')

In [3]:
us_cities.head(3)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,density,source,military,incorporated,timezone,ranking,zips,id
0,New York,New York,NY,New York,36081,Queens,40.6943,-73.9249,18908608,11080.3,shape,False,True,America/New_York,1,11229 11228 11226 11225 11224 11222 11221 1122...,1840034016
1,Los Angeles,Los Angeles,CA,California,6037,Los Angeles,34.1141,-118.4068,11922389,3184.7,shape,False,True,America/Los_Angeles,1,91367 90291 90293 90292 91316 91311 90035 9003...,1840020491
2,Chicago,Chicago,IL,Illinois,17031,Cook,41.8375,-87.6866,8497759,4614.5,shape,False,True,America/Chicago,1,60018 60649 60641 60640 60643 60642 60645 6064...,1840000494

In [4]:
us_cities.shape

(31120, 17)

In [5]:
df_drug = pd.read_csv('/Users/rishabkhuba/Documents/Medicare_Pipeline/drug.csv')

/var/folders/5j/rksnclcn09j1c7_n7bc6nmhr0000gn/T/ipykernel_22897/2977478596.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_drug = pd.read_csv('/Users/rishabkhuba/Documents/Medicare_Pipeline/drug.csv')

In [6]:
df_drug.head()

,Prscrbr_Geo_Lvl,Prscrbr_Geo_Cd,Prscrbr_Geo_Desc,Brnd_Name,Gnrc_Name,Tot_Prscrbrs,Tot_Clms,Tot_30day_Fills,Tot_Drug_Cst,Tot_Benes,...,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes,LIS_Bene_Cst_Shr,NonLIS_Bene_Cst_Shr,Opioid_Drug_Flag,Opioid_LA_Drug_Flag,Antbtc_Drug_Flag,Antpsyct_Drug_Flag
0,State,1,Alabama,1st Tier Unifine Pentips Plus,"Pen Needle, Diabetic",10,22,44.3,801.55,NaN,...,NaN,NaN,*,NaN,21.70,51.52,N,N,N,N
1,State,1,Alabama,Abacavir,Abacavir Sulfate,48,455,496.0,133761.31,56.0,...,188.0,48610.53,NaN,20.0,745.42,2163.21,N,N,N,N
2,State,1,Alabama,Abacavir-Lamivudine,Abacavir Sulfate/Lamivudine,30,228,254.0,95155.34,29.0,...,76.0,21763.28,*,NaN,790.95,4041.79,N,N,N,N
3,State,1,Alabama,Abilify,Aripiprazole,14,77,103.0,78308.72,11.0,...,28.0,20221.58,*,NaN,322.60,360.00,N,N,N,Y
4,State,1,Alabama,Abilify Maintena,Aripiprazole,253,5363,5372.1,14021217.83,689.0,...,699.1,1794247.35,NaN,88.0,10878.70,33224.34,N,N,N,Y

In [7]:
df_drug.shape

(111812, 22)

In [8]:
df_prescriber = pd.read_csv('/Users/rishabkhuba/Documents/Medicare_Pipeline/prescriber.csv')

In [9]:
df_prescriber.head()

,Prscrbr_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_MI,Prscrbr_Crdntls,Prscrbr_Gndr,Prscrbr_Ent_Cd,Prscrbr_St1,Prscrbr_St2,Prscrbr_City,...,Bene_Male_Cnt,Bene_Race_Wht_Cnt,Bene_Race_Black_Cnt,Bene_Race_Api_Cnt,Bene_Race_Hspnc_Cnt,Bene_Race_Natind_Cnt,Bene_Race_Othr_Cnt,Bene_Dual_Cnt,Bene_Ndual_Cnt,Bene_Avg_Risk_Scre
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,...,51.0,99.0,20.0,21.0,NaN,0.0,NaN,62.0,93.0,2.059633
1,1003000142,Khalil,Rashid,NaN,M.D.,M,I,4126 N Holland Sylvania Rd,Suite 220,Toledo,...,183.0,277.0,184.0,NaN,26.0,NaN,12.0,289.0,213.0,1.903775
2,1003000167,Escobar,Julio,E,DDS,M,I,5 Pine Cone Rd,NaN,Dayton,...,25.0,45.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,1.139187
3,1003000423,Velotta,Jennifer,A,M.D.,F,I,11100 Euclid Ave,NaN,Cleveland,...,NaN,54.0,NaN,0.0,NaN,0.0,NaN,17.0,47.0,0.880259
4,1003000480,Rothchild,Kevin,B,MD,M,I,12605 E 16th Ave,NaN,Aurora,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1.797038

In [10]:
df_prescriber.shape

(1332309, 85)

In [11]:
df_prescriber_drug = pd.read_csv('/Users/rishabkhuba/Documents/Medicare_Pipeline/prescriber_drug.csv')

/var/folders/5j/rksnclcn09j1c7_n7bc6nmhr0000gn/T/ipykernel_22897/1403887804.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_prescriber_drug = pd.read_csv('/Users/rishabkhuba/Documents/Medicare_Pipeline/prescriber_drug.csv')

In [12]:
df_prescriber_drug.head()

,Prscrbr_NPI,Prscrbr_Last_Org_Name,Prscrbr_First_Name,Prscrbr_City,Prscrbr_State_Abrvtn,Prscrbr_State_FIPS,Prscrbr_Type,Prscrbr_Type_Src,Brnd_Name,Gnrc_Name,...,Tot_Day_Suply,Tot_Drug_Cst,Tot_Benes,GE65_Sprsn_Flag,GE65_Tot_Clms,GE65_Tot_30day_Fills,GE65_Tot_Drug_Cst,GE65_Tot_Day_Suply,GE65_Bene_Sprsn_Flag,GE65_Tot_Benes
0,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,Claim-Specialty,Amlodipine Besylate,Amlodipine Besylate,...,1230,246.17,14.0,NaN,19.0,41.0,246.17,1230.0,NaN,14.0
1,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,Claim-Specialty,Atorvastatin Calcium,Atorvastatin Calcium,...,870,286.69,NaN,NaN,11.0,29.0,286.69,870.0,*,NaN
2,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,Claim-Specialty,Eliquis,Apixaban,...,508,9503.53,NaN,NaN,15.0,17.0,9503.53,508.0,*,NaN
3,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,Claim-Specialty,Escitalopram Oxalate,Escitalopram Oxalate,...,783,277.71,NaN,NaN,16.0,26.2,277.71,783.0,*,NaN
4,1003000126,Enkeshafi,Ardalan,Bethesda,MD,24,Internal Medicine,Claim-Specialty,Hydrochlorothiazide,Hydrochlorothiazide,...,542,68.18,NaN,#,NaN,NaN,NaN,NaN,*,NaN

In [13]:
df_prescriber_drug.shape

(25869521, 22)

## Preliminary Insights

Dataset Overview:

- Drug: ~112k entries 
- Prescriber: ~1.3M entries
- Prescriber_drug: ~25M entries
- US state: ~31k entries